body {
  padding: 10px;
  margin: 20px;
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: purple;
  color: white;
}

a {
  color: white;
  text-decoration: underline;
  border-radius: 2px;
  padding: 1px;
}

img {
  border-radius: 9px;
  margin-top: 10px;
  height: 500px;
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 0;
}
