body {
  margin: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: purple;
  color: white;
}

a {
  color: blue;
  text-decoration: none;
  background: white;
  border-radius: 2px;
  padding: 1px;
}
